.btn {
    padding: 10px;
    margin: 3px;
    color: black;
}

.menu_botones {
    text-align: center;
}

.menu_botones a {
    background-color: #C898BD;
    border-radius: 17px;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 12px;
}
